multicore-env/
slides/
ipp2-source*
*.pdf
*.o
*~
.*
\#*
*.pptx
programs/multicore-programming/
login_cluster.txt
VPNconfig/
*.log
oral_exam_booking_link.txt
project
project_submission_form.txt
project/parallel_kmeans/
